/* BASIC css start */
.eapps-instagram-feed-posts-slider-inner { width: 1300px !important; }

.wrap_inner_left { float: left; padding-top:80px; }
.wrap_inner_right { float: right; width: 580px; padding-top:80px; text-align:right; }
.pg_txt { width:100%; overflow:hidden; color:#999; line-height: 36px; }
.pg_txt a { color:#999; }
.isms_con { position: absolute; bottom: 0; right: 4%; }
.isms_con .con {  float: left; width: 40px; height: 36px; font-size: 14px; cursor: default; background: url(http://xexymix.jpg3.kr/xexymix/2020/main/isms_img_c.png) no-repeat center; background-size: cover; }
.isms_con .con:hover p { display:block; transform-origin: 100% 0%; -webkit-animation: fadeIn 0.3s ease-in-out; animation: fadeIn 0.3s ease-in-out; }
.isms_con .con p { display: none; text-align: left; background-color: #fff; width: 190px; height: 38px; padding: 4px 5px; border: 1px solid #dfdfdf; position: absolute; right: 180px; top: -40px; color: #888; font-size: 11px; }
.isms_con .txt {  float: left; padding-left: 10px; font-size: 12px; color: #999; line-height: 36px; }
@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}
	100% {
		opacity:100%;
		transform: scale(1);
	}
}
@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}

#ftWrap { clear:both; width:100%; padding-bottom:80px; border-top: 1px solid #999; background-color: #fff; }
#footer { max-width:1920px; min-width:1400px; position:relative; overflow:hidden; padding:0 4%; }
#footer .footerLogo { text-align:left; }
#footer .footerLogo > a { display:block; width:107px; text-align:center; }

#footer .topArea { margin-bottom:40px; }
#footer .topArea > div {display:inline-block; *display:inline; vertical-align:top; padding-left:50px; text-align:left; }
#footer .topArea > div dt {font-size:14px; font-weight:bold; margin-bottom:10px; }
#footer .topArea > div dd {margin-bottom:7px; color:#999; font-size:12px; }
#footer .topArea > div dd a {color:#999; font-size:12px; display:inline-block; }
#footer .topArea > div dd.tel {font-size:22px; margin-bottom:15px; font-weight:500; color:#111; }
#footer .topArea > div p.msg {color:#999; font-size:12px; margin-top:20px; line-height:1.6; }
#footer .topArea > div.lang dd,
#footer .topArea > div.sns dd {display:inline-block; *display:inline; vertical-align:top; margin-right:7px; }
#footer .topArea > div.lang { width:271px; }
#footer .topArea .cs .cs_btn { display: block; width:105px; height:29px; line-height:29px; background: #000; color:#fff; padding:0 10px; margin-top:25px; }
#footer .topArea .cs .cs_btn span { font-size:9px; margin-left:4px; }

#footer .footerBottom .topArea {margin-bottom:0; }
#footer .footerBottom address span { color:#999; font-size:12px; *display: inline; *zoom: 1; position: relative; padding-right: 19px; vertical-align: top; line-height:2; }
#footer .footerBottom address span a { color:#999; }
#footer .footerBottom address span:after {display: block; content: ''; position: absolute; top: 50%; right: 9px; width: 1px; height: 9px; background: #a5a5a5; -webkit-transform: translate(0,-50%); -ms-transform: translate(0,-50%); transform: translate(0,-50%); }
#footer .footerBottom address span.last:after {width:0; }
#footer .footerBottom address .copyright {margin-top:20px; font-size:12px; color:#999; line-height:2; }
#footer .footerBottom address .copyright img {vertical-align:middle; }
#footer .footerBottom address .copyright a {color:#999; text-decoration:underline; line-height:2; }
#footer .footerBottom .menu {margin:20px 0; }
#footer .footerBottom .menu li {display: inline-block; *display: inline; *zoom: 1; }
#footer .footerBottom .menu li a { color:#999; font-size:12px; display: inline-block; *display: inline; *zoom: 1; position: relative; padding-right: 19px; vertical-align: top; line-height:2; }
#footer .footerBottom .menu li a:after {display: block; content: ''; position: absolute; top: 50%; right: 9px; width: 1px; height: 9px; background: #a5a5a5; -webkit-transform: translate(0,-50%); -ms-transform: translate(0,-50%); transform: translate(0,-50%); }
#footer .footerBottom .menu li.last a:after {width:0; }


#right_q {position:fixed; top:50%; right:0; z-index:30; -webkit-transform:translate(0,-50%); -ms-transform:translate(0,-50%); transform:translate(0,-50%); display:none; }
#right_q ul {overflow:hidden;  border-bottom:0; background:#fff; border-top:1px solid #c6c6c6;}
#right_q ul li { border-bottom:1px solid #c6c6c6; border-left:1px solid #c6c6c6;}
#right_q ul li a {display:block; width:58px; height:48px; background:#fff no-repeat center; color:transparent; text-indent:-9999px; cursor:pointer;}
#right_q ul li.up a {background-image:url('/design/xexymix/image/q_up.png');}
#right_q ul li.down a {background-image:url('/design/xexymix/image/q_down.png');}
#right_q ul li.recent a {background-image:url('/design/xexymix/image/q_recent.png');}
#right_q ul li.kakao a {background-image:url('/design/xexymix/image/q_kakao.png');}


/* BASIC css end */


/* BASIC css end */

